/* ===================================================================
 * # background
 *
 * ------------------------------------------------------------------- */
body {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("H21.jpg");
    
}
/* ===================================================================
 * # header
 *
 * ------------------------------------------------------------------- */
.commonContent{
    display: flex;
    /*justify-content: space-between;*/
    width: 100%;
    background-color: #4E78BC;
}
#kemlogo{
    width: 10%;
    height: auto;
    padding: 1%;
}
.top_images{
    width: 50%;
    text-align: center;
    padding: 1%;
}
.top_images img{
    width: 100%;
    margin-top: 2%;
}
/* ===================================================================
 * # 画像選択
 *
 * ------------------------------------------------------------------- */
/* ラジオボタンの○を消す */
.choices p{
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
}
#caption_img{
    height: 5vw;
}
.img_choice{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
input[type="radio"] {
    display: none;
}
input[type="button"] {
    display: none;
}
/* 画像の周りに隙間をあける */
label img {
    margin: 30px;
    background-color: aliceblue;
    width: 80%;
    text-align: center;
}
/* 未選択の場合、色を薄くする */
input[type="radio"] + label img {
    opacity:1;
  }
/* 選択済みの場合、色を濃くする */
input[type="radio"]:checked + label img {
    opacity:1;
    border: solid;
    border-color: white;
    border-width: 10px;
}
#prompt{
    display: none;
    text-align: center;
}
#prompt p{
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
}
#text{
    border-radius: 20px;
    height: 50px;
}
#rec{
    position: absolute;
    left: 30px;
}
#micimg{
    position: absolute;
    left: 60%;
    width: 3%;
    margin: 10px 0 0;
    background-color: rgba(255, 255, 255, 0);
}
#yaimg{
    position: absolute;
    left: 64%;
    width: 3%;
    margin: 10px 0 0;
    background-color: rgba(255, 255, 255, 0);
}
#sub{
    position: absolute;
}
/* ===================================================================
 * # 遷移中画面
 *
 * ------------------------------------------------------------------- */
#Loading{
    display: none;
    align-items: center;
}
#loadings{
    position: fixed;
	margin: 0 auto;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	text-align: center;
	z-index: 2000;
    background-color: white;
}
#layer_board_bg {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
	display: none;
	cursor: pointer;
	background: #000;
    opacity: 0.5;
}

footer{
    color: white;
    text-align: center;
}
